<#include "../../head.html">

<style>
	#uploadFileForm {
	  text-align :center;
	  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	  border-collapse:collapse;
	  margin-left: 40px;
	  padding-top: 20px;
	}
	
	#uploadFileForm p {
	  text-align :center;
	  padding-top:5px;
	}
</style>

<script type="text/javascript">

	//文件上传
	function doUploadFile() {
		var file = $("#file1").val();
		if (file) {
			var formData = new FormData($("#uploadFileForm" )[0]);
		    $.ajax({
			     //url: _basePath + '/test/uploadFile',
			     url: _basePath + '/file/uploadFile?salesOrderId='+parent.$("#salesOrderId").val()+"&orderNumber="+parent.liger.get("orderNumber").getValue(),
			     type: 'POST',
			     data: formData,
			     async: false,
			     cache: false,
			     contentType: false,
			     processData: false,
			     success: function (resdata) {  
			         if (resdata.success) {
			       	  	$.ligerDialog.success("上传成功");
			         }
			     },
			     error: function (resdata) {
			   	  	$.ligerDialog.error("上传失败:"+resdata);
			     }
			});
		} else {
			$.ligerDialog.error("未选择上传文件!");
			return false;
		}
	}
</script>

<body>
	<form id= "uploadFileForm">
      <p >上传文件1： <input type="file" name="file1" id="file1" /></p>
      <p >上传文件2： <input type="file" name="file2" id="file2" /></p>
      <p >上传文件3： <input type="file" name="file3" id="file3" /></p>
      <p >上传文件4： <input type="file" name="file3" id="file3" /></p>
      <p >上传文件5： <input type="file" name="file3" id="file3" /></p>
      <br/>
      <input style="width : 510px; height: 30px" type="button" value="上传" onclick="doUploadFile()" />
	</form>
</body>
