<#include "../../head.html" >


    <script type="text/javascript">

        $(function() {

            var fm_query_grid = window['fm_query_grid'] = $("#fm_query_grid").ligerGrid({
                height : '99%',
                usePager : true,
                checkbox : false,
                rownumbers : true,
                url : '${base.contextPath}/file/queryFileOperate?salesOrderId='+parent.$("#salesOrderId").val(),
                columns : [{
                    display : '订单编号',
                    name : 'salesOrderId',
                    width : 150,
                    textField : 'orderNumber',
                    align : 'center'
                },{
                    display : '文件名',
                    name : 'fileName',
                    width : 200,
                    align : 'center'
                },{
                    display : '文件路径',
                    name : 'filePath',
                    align : 'center',
                    render : function(item) {
                        var path = "${base.contextPath}/file/downloadFile?fileId="+item.fileId;
                        return '<a href='+path+'>'+item.filePath+'</a>';
                    }
                }],
                toolbar : {
                    items : [{
                        id : 'om_order_delete',
                        text : '删除',
                        click : function() {
                            // 删除文件
                            var selected = fm_query_grid.getSelectedRow();
                            if (selected == null) {
                                $.ligerDialog.error("请先选择行")
                                return false;
                            }
                            $.ligerDialog.confirm("确认删除？", function(yes) {
                                if (yes) {
                                    $.ajax({
                                        url : _basePath + '/file/deleteByFileId?fileId='+selected.fileId,
                                        type : 'POST',
                                        dataType : 'json',
                                        contentType : 'application/json',
                                        success : function(resdata) {
                                            fm_query_grid.reload();
                                        }
                                    });
                                    return true;
                                } else {
                                    return false;
                                }
                            });
                        },
                        icon : 'delete'
                    }]
                }
            });
        });

    </script>


    <body>
    <div>
        <div id="fm_query_grid"></div>
    </div>
    </body>
