<#include "../../head.html" />

    <script src="${base.contextPath}/resources/js/customer.js"
        type="text/javascript"></script>

    <script type="text/javascript">

        $(function () {
            //初始化Form表单
            var queryForm = $("#queryForm").ligerForm({
                inputWidth: 150,
                labelWidth: 100,
                fields: [{
                    display: "客户名称",
                    name: "customerName",
                    type: "combobox",
                    newline: false,
                    options : {
                        valueField : 'customerName',
                        textField : 'customerName',
                        url : _basePath + "/customer/queryAllCustomers",
                        isMultiSelect : false,
                        isShowCheckBox : false,
                        highLight : true,
                        autocomplete : true,
                        triggerToLoad : true,
                        autocompleAllowEmpty : true
                    },
                    group : '查询条件'
                }/*, {
                    display: "业务类型",
                    name: "businessType",
                    newline: false,
                    type: "text",
                    group : '查询条件'
                }*/],
                buttons: [{
                    text: '查询',
                    width: 60,
                    click: function () {
                        BaseCommonUI.formToGridQuery(queryForm, queryGrid);
                    }
                }]
            });

            var queryGrid = window['queryGrid'] = $("#queryGrid").ligerGrid({
                title: '查询结果',
                height: '100%',
                usePager: true,
                allowHideColumn: false,
                checkbox: false,
                rownumbers: true,
                //delayLoad: true,
                //scrollToPage : true,
                url: '${base.contextPath}/customer/selectCustomerByParms',
                columns: [{
                    display: '客户名称',
                    name: 'customerId',
                    textField: 'customerName',
                    align: 'center',
                    render: function (rowData) {
                        return '<a href="javascript:jump_customer_detail(' + rowData.customerId + ');">' + rowData.customerName + '</a>';
                    }
                }, {
                    display: '业务类型',
                    name: 'businessType',
                    align: 'center'
                }, {
                    display: '业务价格(元)',
                    name: 'businessPrice',
                    align: 'center'
                }, {
                    display: '经办人',
                    name: 'managerName',
                    align: 'center'
                }, {
                    display: '收货方',
                    name: 'receiver',
                    align: 'center'
                }],
                toolbar: {
                    items: [{
                        id: 'om_order_add',
                    <#if Session.userType != '0'>
                        disable : true,
                    </#if>
                        text: '新建客户',
                        click: function () {
                            // 跳转到创建页
                            window.parent.f_addTab("CUSTOMER_CREATE", '新建客户', "${base.contextPath}/customer/cm_customer_create.html");
                        },
                        icon: 'add'
                    }]
                }
            })

        });

    </script>

    <body>
    <div style="margin-top: 10px">
        <form id="queryForm"></form>
        <div id="queryGrid"></div>
    </div>
    </body>