<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinda.cm.customer.mapper.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.xinda.cm.customer.dto.Customer" >
    <id column="CUSTOMER_ID" property="customerId" jdbcType="DECIMAL" />
    <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
    <result column="ATTIBUTE1" property="attibute1" jdbcType="VARCHAR" />
    <result column="ATTIBUTE2" property="attibute2" jdbcType="VARCHAR" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="OBJECT_VERSION_NUM" property="objectVersionNum" jdbcType="DECIMAL" />

    <!-- add columns -->
    <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
    <result column="BUSINESS_PRICE" property="businessPrice" jdbcType="DECIMAL" />
    <result column="MANAGER_NAME" property="managerName" jdbcType="VARCHAR" />
    <result column="RECEIVER" property="receiver" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    CUSTOMER_ID, CUSTOMER_NAME, ATTIBUTE1, ATTIBUTE2, CREATION_DATE, LAST_UPDATE_DATE,
    OBJECT_VERSION_NUM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from cm_customer_info
    where CUSTOMER_ID = #{customerId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cm_customer_info
    where CUSTOMER_ID = #{customerId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.xinda.cm.customer.dto.Customer" >
    <selectKey resultType="int"  keyProperty="customerId">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cm_customer_info (CUSTOMER_ID, CUSTOMER_NAME, ATTIBUTE1,
    ATTIBUTE2, CREATION_DATE, LAST_UPDATE_DATE,
    OBJECT_VERSION_NUM)
    values (#{customerId,jdbcType=DECIMAL}, #{customerName,jdbcType=VARCHAR}, #{attibute1,jdbcType=VARCHAR},
    #{attibute2,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, #{lastUpdateDate,jdbcType=TIMESTAMP},
    #{objectVersionNum,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xinda.cm.customer.dto.Customer" >
    <selectKey resultType="int"  keyProperty="customerId">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cm_customer_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        CUSTOMER_ID,
      </if>
      <if test="customerName != null" >
        CUSTOMER_NAME,
      </if>
      <if test="attibute1 != null" >
        ATTIBUTE1,
      </if>
      <if test="attibute2 != null" >
        ATTIBUTE2,
      </if>
      <if test="creationDate != null" >
        CREATION_DATE,
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE,
      </if>
      <if test="objectVersionNum != null" >
        OBJECT_VERSION_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        #{customerId,jdbcType=DECIMAL},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="attibute1 != null" >
        #{attibute1,jdbcType=VARCHAR},
      </if>
      <if test="attibute2 != null" >
        #{attibute2,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="objectVersionNum != null" >
        #{objectVersionNum,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinda.cm.customer.dto.Customer" >
    update cm_customer_info
    <set >
      <if test="customerName != null" >
        CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="attibute1 != null" >
        ATTIBUTE1 = #{attibute1,jdbcType=VARCHAR},
      </if>
      <if test="attibute2 != null" >
        ATTIBUTE2 = #{attibute2,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="objectVersionNum != null" >
        OBJECT_VERSION_NUM = #{objectVersionNum,jdbcType=DECIMAL},
      </if>
    </set>
    where CUSTOMER_ID = #{customerId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinda.cm.customer.dto.Customer" >
    update cm_customer_info
    set CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      ATTIBUTE1 = #{attibute1,jdbcType=VARCHAR},
      ATTIBUTE2 = #{attibute2,jdbcType=VARCHAR},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
      OBJECT_VERSION_NUM = #{objectVersionNum,jdbcType=DECIMAL}
    where CUSTOMER_ID = #{customerId,jdbcType=DECIMAL}
  </update>

  <!-- 查询所有的客户信息 -->
  <select id="queryCustomersByParams" resultMap="BaseResultMap" parameterType="com.xinda.cm.customer.dto.Customer" >
    SELECT <include refid="Base_Column_List" />
    FROM cm_customer_info
    <trim prefix="where" prefixOverrides="AND|OR" >
      <if test="customerId != null" >
        AND CUSTOMER_ID = #{customerId,jdbcType=DECIMAL}
      </if>
      <if test="customerName != null" >
        AND UPPER(CUSTOMER_NAME) LIKE CONCAT('%', CONCAT(UPPER(#{customerName,jdbcType=VARCHAR}), '%'))
      </if>
      <if test="attibute1 != null" >
        AND ATTIBUTE1 = #{attibute1,jdbcType=VARCHAR}
      </if>
      <if test="attibute2 != null" >
        AND ATTIBUTE2 = #{attibute2,jdbcType=VARCHAR}
      </if>
      <if test="creationDate != null" >
        AND CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP}
      </if>
      <if test="lastUpdateDate != null" >
        AND LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="objectVersionNum != null" >
        AND OBJECT_VERSION_NUM = #{objectVersionNum,jdbcType=DECIMAL}
      </if>
    </trim>
  </select>

</mapper>