<#include "../../head.html" >

<script src="${base.contextPath}/resources/js/order.js" type="text/javascript"></script>

<script type="text/javascript">

	$(function() {
		//初始化Form表单
        var queryForm = $("#queryForm").ligerForm({
        	inputWidth : 150,
        	labelWidth : 80,
            fields: [
            	{
            		display: "订单编号",
            		name: "orderNumber",
            		newline: true,
            		type: "text" 
            	},{
            		display: "客户名称 ",
            		name: "customerName",
            		newline: false,
                    type: "combobox",
                    options : {
                        valueField : 'customerName',
                        textField : 'customerName',
                        url : _basePath + "/customer/queryAllCustomers",
                        isMultiSelect : false,
                        isShowCheckBox : false,
                        highLight : true,
                        autocomplete : true,
                        keySupport : true,
                        autocompleAllowEmpty : true
                    }
            	}, {
                    display: "车头编号",
                    name: "carFrontNo",
                    newline: false,
                    type: "combobox",
                    options : {
                        valueField : 'plateNo',
                        textField : 'plateNo',
                        url : _basePath + "/car/getCarsByParams?type=CF",
                        isMultiSelect : false,
                        isShowCheckBox : false,
                        highLight : true,
                        autocomplete : true,
                        keySupport : true,
                        autocompleAllowEmpty : true
                    }
                }, {
                    display: '提运单号',
                    name: 'wayBillNo',
                    newline: true,
                    type : 'text'
                }, {
                    display: '交易单号',
                    name: 'transactionNo',
                    newline: false,
					type : 'text'
                },{
            		display: "罐柜号 ",
            		name: "tankNo",
            		newline: false,
            		type: "text"  
            	},{
            		display: "运输日期从",
            		name: "shippingDateFrom",
            		newline: true,
            		type: "date",
					options : {
						showTime:true,
			            format: "yyyy-MM-dd"
					}
            	},{
            		display: "运输日期至",
            		name: "shippingDateTo",
            		newline: false,
            		type: "date",
					options : {
						showTime:true,
			            format: "yyyy-MM-dd"
					}
            	},{
            		display: "订单状态",
            		name: "orderStatus",
            		newline: false,
            		type: "select",
            		options : {
	            		data : orderStatusData,
	            		valueField : 'value',
						textField : 'text'
            		}
            	}, {
                    display: "收货单位",
                    name: "receiver",
                    newline: false,
                    type: "text"
				}],
            	buttons : [ {
                    text : '查询',
                    width : 60,
                    click : function() {
                    	BaseCommonUI.formToGridQuery(queryForm, queryGrid);
                    }
                }]
        });
		
        var queryGrid = window['queryGrid'] = $("#queryGrid").ligerGrid({
			title : '查询结果',
            height : '99%',
			usePager : true,
			allowHideColumn : false,
			checkbox : true,
			rownumbers : true,
			delayLoad : true,
			//scrollToPage : true,
            url : '${base.contextPath}/om/selectOrdersByParms',
			columns : [{
				display : '订单编号',
				name : 'salesOrderId',
				textField : 'orderNumber',
				align : 'center',
				render : function(rowData) {
                    return '<a href="javascript:jump_order_detail('+rowData.salesOrderId+');">'+rowData.orderNumber+'</a>';
				}
			},{
				display : '客户名称',
				name : 'customerName',
				align : 'center'
			},{
				display : '罐柜号',
				name : 'tankNo',
				align : 'center'
			},{
                display : '收货单位',
                name : 'receiver',
                align : 'center'
            },{
        		display: "创建日期",
        		name: "createDate",
        		align : 'center',
        		format : 'yyyy-MM-dd',
        	},{
				display : '运输日期',
				name : 'shippingDate',
				align : 'center',
                format : 'yyyy-MM-dd',
			}, {
				display : '订单状态',
				name : 'orderStatus',
				align : 'center',
				editor : {
					type : 'select',
					data : orderStatusData,
            		valueField : 'value',
					textField : 'text'
				},
				render : BaseCommonUI.gridSelectRender
			}],
			toolbar : {
				items : [{
					id : 'om_order_add',
					text : '创建订单',
					click : function() {
						// 跳转到创建页
						window.parent.f_addTab("ORDER_CREATE", '创建订单',"${base.contextPath}/order/om_order_create.html");
					},
					icon : 'add'
				},
				{ line: true },
				{
					id : 'om_order_delete',
					text : '删除',
					click : function() {
						// 删除选择订单
						delete_order(queryGrid, _basePath+"/om/deleteOrder");
					},
					icon : 'delete'
				}]
			}
		});
        
		<#if RequestParameters.shippingDate ?exists >
			var shippingDate = ${RequestParameters.shippingDate};
			var statusFlag = ${RequestParameters.statusFlag};
			$.ligerui.get("orderStatus").setValue(statusFlag);
			//日期参数值
			$.ligerui.get("shippingDateFrom").setValue(shippingDate);
        	$.ligerui.get("shippingDateTo").setValue(shippingDate);
		</#if>
		BaseCommonUI.formToGridQuery(queryForm, queryGrid);
	});

	
</script>

<body>
	<div>
		<form id="queryForm"></form>
		<div id="queryGrid" style="margin-top: 10px" ></div>
	</div>
</body>
