<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinda.cm.car.mapper.CarProjectMapper" >
    <resultMap id="BaseResultMap" type="com.xinda.cm.car.dto.CarProjectDto" >
        <id column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="CAR_ID" property="carId" jdbcType="DECIMAL" />
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
        <result column="VALID_PERIOD_FROM" property="validPeriodFrom" jdbcType="TIMESTAMP" />
        <result column="VALID_PERIOD_TO" property="validPeriodTo" jdbcType="TIMESTAMP" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
        <result column="OBJECT_VERSION_NUM" property="objectVersionNum" jdbcType="DECIMAL" />
    </resultMap>
    <sql id="Base_Column_List" >
        PROJECT_ID, CAR_ID, PROJECT_NAME, VALID_PERIOD_FROM, VALID_PERIOD_TO, REMARK, CREATION_DATE,
        LAST_UPDATE_DATE, OBJECT_VERSION_NUM
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from cm_car_project
        where PROJECT_ID = #{projectId,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from cm_car_project
        where PROJECT_ID = #{projectId,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" parameterType="com.xinda.cm.car.dto.CarProjectDto" >
        <selectKey resultType="int" keyProperty="projectId" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into cm_car_project (PROJECT_ID, CAR_ID, PROJECT_NAME,
        VALID_PERIOD_FROM, VALID_PERIOD_TO, REMARK,
        CREATION_DATE, LAST_UPDATE_DATE, OBJECT_VERSION_NUM)
        values (#{projectId,jdbcType=DECIMAL}, #{carId,jdbcType=DECIMAL}, #{projectName,jdbcType=VARCHAR},
        #{validPeriodFrom,jdbcType=TIMESTAMP}, #{validPeriodTo,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
        CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 1)
    </insert>
    <insert id="insertSelective" parameterType="com.xinda.cm.car.dto.CarProjectDto" >
        <selectKey resultType="int" keyProperty="projectId" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into cm_car_project
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="projectId != null" >
                PROJECT_ID,
            </if>
            <if test="carId != null" >
                CAR_ID,
            </if>
            <if test="projectName != null" >
                PROJECT_NAME,
            </if>
            <if test="validPeriodFrom != null" >
                VALID_PERIOD_FROM,
            </if>
            <if test="validPeriodTo != null" >
                VALID_PERIOD_TO,
            </if>
            <if test="remark != null" >
                REMARK,
            </if>
                CREATION_DATE,
                LAST_UPDATE_DATE,
                OBJECT_VERSION_NUM,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="projectId != null" >
                #{projectId,jdbcType=DECIMAL},
            </if>
            <if test="carId != null" >
                #{carId,jdbcType=DECIMAL},
            </if>
            <if test="projectName != null" >
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="validPeriodFrom != null" >
                #{validPeriodFrom,jdbcType=TIMESTAMP},
            </if>
            <if test="validPeriodTo != null" >
                #{validPeriodTo,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP,
            1,
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xinda.cm.car.dto.CarProjectDto" >
        update cm_car_project
        <set >
            <if test="carId != null" >
                CAR_ID = #{carId,jdbcType=DECIMAL},
            </if>
            <if test="projectName != null" >
                PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="validPeriodFrom != null" >
                VALID_PERIOD_FROM = #{validPeriodFrom,jdbcType=TIMESTAMP},
            </if>
            <if test="validPeriodTo != null" >
                VALID_PERIOD_TO = #{validPeriodTo,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null" >
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
                LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
                OBJECT_VERSION_NUM = OBJECT_VERSION_NUM + 1
        </set>
        where PROJECT_ID = #{projectId,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xinda.cm.car.dto.CarProjectDto" >
    update cm_car_project
    set CAR_ID = #{carId,jdbcType=DECIMAL},
      PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      VALID_PERIOD_FROM = #{validPeriodFrom,jdbcType=TIMESTAMP},
      VALID_PERIOD_TO = #{validPeriodTo,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      OBJECT_VERSION_NUM = OBJECT_VERSION_NUM + 1
    where PROJECT_ID = #{projectId,jdbcType=DECIMAL}
  </update>

    <select id="selectByCarId" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        SELECT <include refid="Base_Column_List" />
        FROM cm_car_project
        WHERE CAR_ID = #{carId, jdbcType=DECIMAL}
    </select>

    <delete id="deleteCarProjectsByCarId" parameterType="java.lang.Integer" >
        DELETE FROM cm_car_project
        WHERE CAR_ID = #{carId,jdbcType=DECIMAL}
    </delete>

</mapper>