<#include "../../head.html" />

    <style>
        .buttons {
            position: absolute;
            right: 0;
            margin: 10px;
            height: 35px;
        }

        .buttons div {
            float: left;
            margin-right: 5px;
        }
    </style>


    <script type="text/javascript">

        $(function () {

        });

    </script>

    <body>
        <div style="margin-left: 10px">
            <div>
                sys_user_create.html
            </div>
        </div>
    </body>