<!DOCTYPE html>
<html>
<head>
    <title>订单管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="${base.contextPath}/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css"/>
    <link href="${base.contextPath}/lib/ligerUI/skins/ligerui-icons.css" rel="stylesheet" type="text/css"/>
    <link href="${base.contextPath}/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css">

    <script src="${base.contextPath}/lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="${base.contextPath}/lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
    <script src="${base.contextPath}/lib/jquery.cookie.js"></script>
    <script src="${base.contextPath}/lib/json2.js"></script>
    <script src="${base.contextPath}/lib/jquery-validation/jquery.validate.min.js" type="text/javascript"></script>
    <script src="${base.contextPath}/lib/jquery-validation/jquery.metadata.js" type="text/javascript"></script>
    <script src="${base.contextPath}/lib/jquery-validation/messages.js" type="text/javascript"></script>
    <script src="${base.contextPath}/lib/jquery-validation/messages_cn.js" type="text/javascript"></script>

    <script src="${base.contextPath}/lib/ligerUI/js/plugins/ligerAccordion.js" type="text/javascript"></script>
    <script src="${base.contextPath}/lib/ligerUI/js/plugins/ligerTree.js" type="text/javascript"></script>
    <!--<script src="${base.contextPath}/lib/ligerUI/js/plugins/ligerComboBox.js" type="text/javascript"></script>-->

    <!-- 扩展LigerUI框架JS文件 -->
    <script src="${base.contextPath}/resources/js/extendLigerUI.js" type="text/javascript"></script>

    <!-- 基础数据 -->
    <script src="${base.contextPath}/resources/js/comboBoxData.js" type="text/javascript"></script>

    <script type="text/javascript">
        var _basePath = '${base.contextPath}';


    </script>

</head>

</html>
