<#include 'head.html' />

<style>
	#orderdata {
	  text-align :center;
	  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	  width:80%;
	  border-collapse:collapse;
	  margin-left: 100px;
	}
	
	#orderdata caption {
		font-weight:bold;
		font-size:1.7em;
		text-align:center;
		padding: 20px;
	}
	
	#orderdata td, #orderdata th {
	  font-size:1.2em;
	  border:1px solid #98bf21;
	  padding:3px 7px 2px 7px;
	  text-align:center;
	}
	
	#orderdata th {
	  font-size:1.2em;
	  text-align:center;
	  padding-top:5px;
	  padding-bottom:4px;
	  background-color:#A7C999;
	}
	
	#orderdata tr.alt td {
	  color:#000000;
	  background-color:#EAF2D3;
	}
</style>

<script type="text/javascript">
	//TODO 获取前后三天已完成和待完成的订单任务
	$(function() {
		$("#nowdate")[0].innerHTML= new Date().parseStr("@YYYY@-@MM@-@DD@ @hh@:@mm@:@ss@");
	});
	
</script>

<body>
	<div>
		<div id="div1">
			<span style="font-size:1.2em;">当前时间：<span id="nowdate"></span></span>
		</div>
		<hr/>
		
		<div id="div2">
			<table id="orderdata">
				<caption>任务完成总概</caption>
				<tr>
					<th>日期</th>
					<th>已受理任务数量</th>
					<th>已运输任务数量</th>
					<th>已反馈任务数量</th>
					<th>已完成任务数量</th>
				</tr>
				
				<#list orders as order>
					<tr>
						<td>${order.shippingDate?date}</td>
						<td>
							<a href="javascript:f_toQueryOrder('ACCE', '${order.shippingDate?date}');">${order.orderStatusAcce}</a>
						</td>
						<td>
							<a href="javascript:f_toQueryOrder('SHIP', '${order.shippingDate?date}');">${order.orderStatusShip}</a>
						</td>
						<td>
							<a href="javascript:f_toQueryOrder('FDBK', '${order.shippingDate?date}');">${order.orderStatusFdbk}</a>
						</td>
						<td>
							<a href="javascript:f_toQueryOrder('COMP', '${order.shippingDate?date}'); ">${order.orderStatusComp}</a>
						</td>
					</tr>
				</#list>
				
			</table>
		
		</div>
	</div>
	
	<script type="text/javascript">
		function f_toQueryOrder(statusFlag, shippingDate) {
			window.top.f_removeTab("ORDER_QUERY");
			window.top.f_addTab("ORDER_QUERY", '订单查询', _basePath+"/order/om_order_query.html?statusFlag='"+statusFlag+"'&shippingDate='"+shippingDate+"'");
		}
	</script>
	
</body>
