<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinda.om.order.mapper.DisbursementMapper" >
  <resultMap id="BaseResultMap" type="com.xinda.om.order.dto.DisbursementDto" >
    <id column="DISBURSEMENT_ID" property="disbursementId" jdbcType="DECIMAL" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="SALES_ORDER_ID" property="salesOrderId" jdbcType="DECIMAL" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="OBJECT_VERSION_NUM" property="objectVersionNum" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    DISBURSEMENT_ID, TYPE, AMOUNT, REMARK, SALES_ORDER_ID, CREATION_DATE, LAST_UPDATE_DATE, OBJECT_VERSION_NUM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from om_sales_disbursement
    where DISBURSEMENT_ID = #{disbursementId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from om_sales_disbursement
    where DISBURSEMENT_ID = #{disbursementId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.xinda.om.order.dto.DisbursementDto" >
    <selectKey resultType="int" keyProperty="disbursementId" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into om_sales_disbursement (DISBURSEMENT_ID, TYPE, AMOUNT,
    REMARK, SALES_ORDER_ID, CREATION_DATE,
    LAST_UPDATE_DATE, OBJECT_VERSION_NUM)
    values (#{disbursementId,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL},
    #{remark,jdbcType=VARCHAR}, #{salesOrderId,jdbcType=DECIMAL}, CURRENT_TIMESTAMP,
    CURRENT_TIMESTAMP, 1)
  </insert>
  <insert id="insertSelective" parameterType="com.xinda.om.order.dto.DisbursementDto" >
    <selectKey resultType="int" keyProperty="disbursementId" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into om_sales_disbursement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="disbursementId != null" >
        DISBURSEMENT_ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="salesOrderId != null" >
        SALES_ORDER_ID,
      </if>
        CREATION_DATE,
        LAST_UPDATE_DATE,
        OBJECT_VERSION_NUM,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="disbursementId != null" >
        #{disbursementId,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="salesOrderId != null" >
        #{salesOrderId,jdbcType=DECIMAL},
      </if>
      CURRENT_TIMESTAMP,
      CURRENT_TIMESTAMP,
      1,
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinda.om.order.dto.DisbursementDto" >
    update om_sales_disbursement
    <set >
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="salesOrderId != null" >
        SALES_ORDER_ID = #{salesOrderId,jdbcType=DECIMAL},
      </if>
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
        OBJECT_VERSION_NUM = OBJECT_VERSION_NUM + 1
    </set>
    where DISBURSEMENT_ID = #{disbursementId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinda.om.order.dto.DisbursementDto" >
    update om_sales_disbursement
    set TYPE = #{type,jdbcType=VARCHAR},
    AMOUNT = #{amount,jdbcType=DECIMAL},
    REMARK = #{remark,jdbcType=VARCHAR},
    SALES_ORDER_ID = #{salesOrderId,jdbcType=DECIMAL},
    LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
    OBJECT_VERSION_NUM = OBJECT_VERSION_NUM + 1
    where DISBURSEMENT_ID = #{disbursementId,jdbcType=DECIMAL}
  </update>

  <select id="selectDisbursementDtosByParms" parameterType="com.xinda.om.order.dto.DisbursementDto" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM om_sales_disbursement
    <trim prefix="where" prefixOverrides="AND|OR">
      <if test="disbursementId != null" >
        AND DISBURSEMENT_ID = #{disbursementId,jdbcType=DECIMAL}
      </if>
      <if test="type != null" >
        AND TYPE = #{type,jdbcType=VARCHAR}
      </if>
      <if test="amount != null" >
        AND AMOUNT = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="remark != null" >
        AND REMARK = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="salesOrderId != null" >
        AND SALES_ORDER_ID = #{salesOrderId,jdbcType=DECIMAL}
      </if>
    </trim>
  </select>

  <delete id="deleteByOrderId" parameterType="java.lang.Integer">
    DELETE FROM om_sales_disbursement
    WHERE SALES_ORDER_ID = #{salesOrderId,jdbcType=DECIMAL}
  </delete>

</mapper>