<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinda.om.order.mapper.ItemInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xinda.om.order.dto.ItemInfoDto" >
    <id column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
    <result column="WAYBILL_NO" property="wayBillNo" jdbcType="VARCHAR" />
    <result column="TRANSACTION_NO" property="transactionNo" jdbcType="VARCHAR" />
    <result column="TANK_NO" property="tankNo" jdbcType="VARCHAR" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="TANK_TYPE" property="tankType" jdbcType="VARCHAR" />
    <result column="HAZARD_CATEGORY" property="hazardCategory" jdbcType="VARCHAR" />
    <result column="UN_NO" property="unNo" jdbcType="VARCHAR" />
    <result column="SHIP_WEIGHT" property="shipWeight" jdbcType="DECIMAL" />
    <result column="RECEIPT_WEIGHT" property="receiptWeight" jdbcType="DECIMAL" />
    <result column="POUNDS_WORSE" property="poundsWorse" jdbcType="DECIMAL" />
    <result column="DIFFERENCE_RATE" property="differenceRate" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="SALES_ORDER_ID" property="salesOrderId" jdbcType="DECIMAL" />
    <result column="OBJECT_VERSION_NUM" property="objectVersionNum" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ITEM_ID, WAYBILL_NO, TRANSACTION_NO, TANK_NO, ITEM_NAME, TANK_TYPE, HAZARD_CATEGORY,
    UN_NO, SHIP_WEIGHT, RECEIPT_WEIGHT, POUNDS_WORSE, DIFFERENCE_RATE, REMARK, CREATION_DATE,
    LAST_UPDATE_DATE, SALES_ORDER_ID, OBJECT_VERSION_NUM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from im_item_info
    where ITEM_ID = #{itemId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from im_item_info
    where ITEM_ID = #{itemId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.xinda.om.order.dto.ItemInfoDto" >
    <selectKey resultType="int" keyProperty="itemId" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into im_item_info (ITEM_ID, WAYBILL_NO, TRANSACTION_NO,
    TANK_NO, ITEM_NAME, TANK_TYPE,
    HAZARD_CATEGORY, UN_NO, SHIP_WEIGHT,
    RECEIPT_WEIGHT, POUNDS_WORSE, DIFFERENCE_RATE,
    REMARK, CREATION_DATE, LAST_UPDATE_DATE,
    SALES_ORDER_ID, OBJECT_VERSION_NUM)
    values (#{itemId,jdbcType=DECIMAL}, #{wayBillNo,jdbcType=VARCHAR}, #{transactionNo,jdbcType=VARCHAR},
    #{tankNo,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{tankType,jdbcType=VARCHAR},
    #{hazardCategory,jdbcType=VARCHAR}, #{unNo,jdbcType=VARCHAR}, #{shipWeight,jdbcType=DECIMAL},
    #{receiptWeight,jdbcType=DECIMAL}, #{poundsWorse,jdbcType=DECIMAL}, #{differenceRate,jdbcType=DECIMAL},
    #{remark,jdbcType=VARCHAR}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP,
    #{salesOrderId,jdbcType=DECIMAL}, 1)
  </insert>
  <insert id="insertSelective" parameterType="com.xinda.om.order.dto.ItemInfoDto" >
    <selectKey resultType="int" keyProperty="itemId" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into im_item_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="wayBillNo != null" >
        WAYBILL_NO,
      </if>
      <if test="transactionNo != null" >
        TRANSACTION_NO,
      </if>
      <if test="tankNo != null" >
        TANK_NO,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="tankType != null" >
        TANK_TYPE,
      </if>
      <if test="hazardCategory != null" >
        HAZARD_CATEGORY,
      </if>
      <if test="unNo != null" >
        UN_NO,
      </if>
      <if test="shipWeight != null" >
        SHIP_WEIGHT,
      </if>
      <if test="receiptWeight != null" >
        RECEIPT_WEIGHT,
      </if>
      <if test="poundsWorse != null" >
        POUNDS_WORSE,
      </if>
      <if test="differenceRate != null" >
        DIFFERENCE_RATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
        CREATION_DATE,
        LAST_UPDATE_DATE,
      <if test="salesOrderId != null" >
        SALES_ORDER_ID,
      </if>
      OBJECT_VERSION_NUM,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="wayBillNo != null" >
        #{wayBillNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionNo != null" >
        #{transactionNo,jdbcType=VARCHAR},
      </if>
      <if test="tankNo != null" >
        #{tankNo,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="tankType != null" >
        #{tankType,jdbcType=VARCHAR},
      </if>
      <if test="hazardCategory != null" >
        #{hazardCategory,jdbcType=VARCHAR},
      </if>
      <if test="unNo != null" >
        #{unNo,jdbcType=VARCHAR},
      </if>
      <if test="shipWeight != null" >
        #{shipWeight,jdbcType=DECIMAL},
      </if>
      <if test="receiptWeight != null" >
        #{receiptWeight,jdbcType=DECIMAL},
      </if>
      <if test="poundsWorse != null" >
        #{poundsWorse,jdbcType=DECIMAL},
      </if>
      <if test="differenceRate != null" >
        #{differenceRate,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      CURRENT_TIMESTAMP,
      CURRENT_TIMESTAMP,
      <if test="salesOrderId != null" >
        #{salesOrderId,jdbcType=DECIMAL},
      </if>
      OBJECT_VERSION_NUM = OBJECT_VERSION_NUM + 1
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinda.om.order.dto.ItemInfoDto" >
    update im_item_info
    <set >
      <if test="wayBillNo != null" >
        WAYBILL_NO = #{wayBillNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionNo != null" >
        TRANSACTION_NO = #{transactionNo,jdbcType=VARCHAR},
      </if>
      <if test="tankNo != null" >
        TANK_NO = #{tankNo,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="tankType != null" >
        TANK_TYPE = #{tankType,jdbcType=VARCHAR},
      </if>
      <if test="hazardCategory != null" >
        HAZARD_CATEGORY = #{hazardCategory,jdbcType=VARCHAR},
      </if>
      <if test="unNo != null" >
        UN_NO = #{unNo,jdbcType=VARCHAR},
      </if>
      <if test="shipWeight != null" >
        SHIP_WEIGHT = #{shipWeight,jdbcType=DECIMAL},
      </if>
      <if test="receiptWeight != null" >
        RECEIPT_WEIGHT = #{receiptWeight,jdbcType=DECIMAL},
      </if>
      <if test="poundsWorse != null" >
        POUNDS_WORSE = #{poundsWorse,jdbcType=DECIMAL},
      </if>
      <if test="differenceRate != null" >
        DIFFERENCE_RATE = #{differenceRate,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      <if test="salesOrderId != null" >
        SALES_ORDER_ID = #{salesOrderId,jdbcType=DECIMAL},
      </if>
      OBJECT_VERSION_NUM = OBJECT_VERSION_NUM + 1
    </set>
    where ITEM_ID = #{itemId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinda.om.order.dto.ItemInfoDto" >
    update im_item_info
    set WAYBILL_NO = #{wayBillNo,jdbcType=VARCHAR},
    TRANSACTION_NO = #{transactionNo,jdbcType=VARCHAR},
    TANK_NO = #{tankNo,jdbcType=VARCHAR},
    ITEM_NAME = #{itemName,jdbcType=VARCHAR},
    TANK_TYPE = #{tankType,jdbcType=VARCHAR},
    HAZARD_CATEGORY = #{hazardCategory,jdbcType=VARCHAR},
    UN_NO = #{unNo,jdbcType=VARCHAR},
    SHIP_WEIGHT = #{shipWeight,jdbcType=DECIMAL},
    RECEIPT_WEIGHT = #{receiptWeight,jdbcType=DECIMAL},
    POUNDS_WORSE = #{poundsWorse,jdbcType=DECIMAL},
    DIFFERENCE_RATE = #{differenceRate,jdbcType=DECIMAL},
    REMARK = #{remark,jdbcType=VARCHAR},
    LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
    SALES_ORDER_ID = #{salesOrderId,jdbcType=DECIMAL},
    OBJECT_VERSION_NUM = OBJECT_VERSION_NUM + 1
    where ITEM_ID = #{itemId,jdbcType=DECIMAL}
  </update>

  <select id="selectItemInfoByParms" parameterType="com.xinda.om.order.dto.ItemInfoDto" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM im_item_info
    <trim prefix="where" prefixOverrides="AND|OR" >
      <if test="itemId != null" >
        AND ITEM_ID = #{itemId,jdbcType=DECIMAL}
      </if>
      <if test="wayBillNo != null" >
        AND WAYBILL_NO = #{wayBillNo,jdbcType=VARCHAR}
      </if>
      <if test="transactionNo != null" >
        AND TRANSACTION_NO = #{transactionNo,jdbcType=VARCHAR}
      </if>
      <if test="tankNo != null" >
        AND TANK_NO = #{tankNo,jdbcType=VARCHAR}
      </if>
      <if test="itemName != null" >
        AND ITEM_NAME = #{itemName,jdbcType=VARCHAR}
      </if>
      <if test="tankType != null" >
        AND TANK_TYPE = #{tankType,jdbcType=VARCHAR}
      </if>
      <if test="hazardCategory != null" >
        AND HAZARD_CATEGORY = #{hazardCategory,jdbcType=VARCHAR}
      </if>
      <if test="unNo != null" >
        AND UN_NO = #{unNo,jdbcType=VARCHAR}
      </if>
      <if test="shipWeight != null" >
        AND SHIP_WEIGHT = #{shipWeight,jdbcType=DECIMAL}
      </if>
      <if test="receiptWeight != null" >
        AND RECEIPT_WEIGHT = #{receiptWeight,jdbcType=DECIMAL}
      </if>
      <if test="poundsWorse != null" >
        AND POUNDS_WORSE = #{poundsWorse,jdbcType=DECIMAL}
      </if>
      <if test="differenceRate != null" >
        AND DIFFERENCE_RATE = #{differenceRate,jdbcType=DECIMAL}
      </if>
      <if test="remark != null" >
        AND REMARK = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="salesOrderId != null" >
        SALES_ORDER_ID = #{salesOrderId,jdbcType=DECIMAL}
      </if>
    </trim>
  </select>

</mapper>