<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinda.om.order.mapper.SalesOrderMapper">
    <resultMap id="BaseResultMap" type="com.xinda.om.order.dto.SalesOrder">
        <id column="SALES_ORDER_ID" jdbcType="DECIMAL" property="salesOrderId"/>
        <result column="ORDER_NUMBER" jdbcType="VARCHAR" property="orderNumber"/>
        <result column="ORDER_STATUS" jdbcType="VARCHAR" property="orderStatus"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="SHIPPING_DATE" jdbcType="TIMESTAMP" property="shippingDate"/>
        <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
        <result column="CUSTOMER_ID" jdbcType="DECIMAL" property="customerId"/>
        <result column="OBJECT_VERSION_NUM" property="objectVersionNum" jdbcType="DECIMAL" />
        <result column="CUSTOMER_TYPE_ID" jdbcType="DECIMAL" property="customerTypeId"/>

        <!-- new add columns -->
        <result column="ORDER_COUNT" property="orderCount" jdbcType="DECIMAL" />
        <result column="SHIPPING_DATE_FROM" jdbcType="VARCHAR" property="shippingDateFrom" />
        <result column="SHIPPING_DATE_TO" jdbcType="VARCHAR" property="shippingDateTo" />
        <result column="WAYBILL_NO" jdbcType="VARCHAR" property="wayBillNo" />
        <result column="TANK_NO" jdbcType="VARCHAR" property="tankNo" />
        <result column="CAR_FRONT_NO" jdbcType="VARCHAR" property="carFrontNo" />
        <result column="RECEIVER" jdbcType="VARCHAR" property="receiver" />
        <result column="CUSTOMER_NAME" jdbcType="VARCHAR" property="customerName" />
        <result column="TRANSACTION_NO" jdbcType="VARCHAR" property="transactionNo" />

        <result column="ORDER_STATUS_ACCE" jdbcType="DECIMAL" property="orderStatusAcce" />
        <result column="ORDER_STATUS_SHIP" jdbcType="DECIMAL" property="orderStatusShip" />
        <result column="ORDER_STATUS_FDBK" jdbcType="DECIMAL" property="orderStatusFdbk" />
        <result column="ORDER_STATUS_COMP" jdbcType="DECIMAL" property="orderStatusComp" />

    </resultMap>
    <sql id="Base_Column_List">
        SALES_ORDER_ID, ORDER_NUMBER, ORDER_STATUS, CREATE_DATE, SHIPPING_DATE, CREATION_DATE,
        LAST_UPDATE_DATE, CUSTOMER_ID, OBJECT_VERSION_NUM, CUSTOMER_TYPE_ID
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from om_sales_order
        where SALES_ORDER_ID = #{salesOrderId,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from om_sales_order
        where SALES_ORDER_ID = #{salesOrderId,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" parameterType="com.xinda.om.order.dto.SalesOrder">
        <selectKey resultType="int" keyProperty="salesOrderId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into om_sales_order (SALES_ORDER_ID, ORDER_NUMBER, ORDER_STATUS,
        CREATE_DATE, SHIPPING_DATE, CREATION_DATE,
        LAST_UPDATE_DATE, CUSTOMER_ID, OBJECT_VERSION_NUM, CUSTOMER_TYPE_ID)
        values (#{salesOrderId,jdbcType=DECIMAL}, #{orderNumber,jdbcType=VARCHAR}, #{orderStatus,jdbcType=VARCHAR},
        #{createDate,jdbcType=TIMESTAMP}, #{shippingDate,jdbcType=TIMESTAMP}, CURRENT_TIMESTAMP,
        CURRENT_TIMESTAMP, #{customerId,jdbcType=DECIMAL}, 1, #{customerTypeId, jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" parameterType="com.xinda.om.order.dto.SalesOrder">
        <selectKey resultType="int" keyProperty="salesOrderId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into om_sales_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="salesOrderId != null">
                SALES_ORDER_ID,
            </if>
            <if test="orderNumber != null">
                ORDER_NUMBER,
            </if>
            <if test="orderStatus != null">
                ORDER_STATUS,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="shippingDate != null">
                SHIPPING_DATE,
            </if>
            CREATION_DATE,
            LAST_UPDATE_DATE,
            <if test="customerId != null">
                CUSTOMER_ID,
            </if>
            OBJECT_VERSION_NUM,
            <if test="customerTypeId != null">
                CUSTOMER_TYPE_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="salesOrderId != null">
                #{salesOrderId,jdbcType=DECIMAL},
            </if>
            <if test="orderNumber != null">
                #{orderNumber,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="shippingDate != null">
                #{shippingDate,jdbcType=TIMESTAMP},
            </if>
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP,
            <if test="customerId != null">
                #{customerId,jdbcType=DECIMAL},
            </if>
            1,
            <if test="customerTypeId != null">
                #{customerTypeId,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xinda.om.order.dto.SalesOrder">
        update om_sales_order
        <set>
            <if test="orderNumber != null">
                ORDER_NUMBER = #{orderNumber,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null">
                ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="shippingDate != null">
                SHIPPING_DATE = #{shippingDate,jdbcType=TIMESTAMP},
            </if>
            LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
            <if test="customerId != null">
                CUSTOMER_ID = #{customerId,jdbcType=DECIMAL},
            </if>
            OBJECT_VERSION_NUM = OBJECT_VERSION_NUM + 1,
            <if test="customerTypeId != null">
                CUSTOMER_TYPE_ID = #{customerTypeId,jdbcType=DECIMAL}
            </if>
        </set>
        where SALES_ORDER_ID = #{salesOrderId,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xinda.om.order.dto.SalesOrder">
        update om_sales_order
        set ORDER_NUMBER = #{orderNumber,jdbcType=VARCHAR},
        ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
        SHIPPING_DATE = #{shippingDate,jdbcType=TIMESTAMP},
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
        CUSTOMER_ID = #{customerId,jdbcType=DECIMAL},
        OBJECT_VERSION_NUM = OBJECT_VERSION_NUM + 1,
        CUSTOMER_TYPE_ID = #{customerTypeId,jdbcType=DECIMAL}
        where SALES_ORDER_ID = #{salesOrderId,jdbcType=DECIMAL}
    </update>

    <select id="selectOrderNumFromHome" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT DISTINCT
            OO.SHIPPING_DATE,
            (SELECT COUNT(*) FROM OM_SALES_ORDER WHERE SHIPPING_DATE = OO.SHIPPING_DATE AND ORDER_STATUS = 'ACCE') ORDER_STATUS_ACCE,
            (SELECT COUNT(*) FROM OM_SALES_ORDER WHERE SHIPPING_DATE = OO.SHIPPING_DATE AND ORDER_STATUS = 'SHIP') ORDER_STATUS_SHIP,
            (SELECT COUNT(*) FROM OM_SALES_ORDER WHERE SHIPPING_DATE = OO.SHIPPING_DATE AND ORDER_STATUS = 'FDBK') ORDER_STATUS_FDBK,
            (SELECT COUNT(*) FROM OM_SALES_ORDER WHERE SHIPPING_DATE = OO.SHIPPING_DATE AND ORDER_STATUS = 'COMP') ORDER_STATUS_COMP
        FROM OM_SALES_ORDER OO
        WHERE OO.SHIPPING_DATE &lt;= DATE(DATE_ADD(NOW(), INTERVAL 7 DAY))
          AND OO.SHIPPING_DATE &gt;= DATE(DATE_SUB(NOW(), INTERVAL 7 DAY))
    </select>

    <select id="selectOrdersByParms" resultMap="BaseResultMap" parameterType="com.xinda.om.order.dto.SalesOrder" >
        SELECT DISTINCT
            oo.SALES_ORDER_ID,
            oo.ORDER_NUMBER,
            cci.CUSTOMER_NAME,
            iii.TANK_NO,
            cct.RECEIVER,
            oo.CREATE_DATE,
            oo.SHIPPING_DATE,
            oo.ORDER_STATUS
        FROM om_sales_order oo
          LEFT JOIN cm_customer_info cci ON oo.CUSTOMER_ID = cci.CUSTOMER_ID
          LEFT JOIN cm_customer_type cct ON oo.CUSTOMER_TYPE_ID = cct.TYPE_ID
          LEFT JOIN im_item_info iii ON iii.SALES_ORDER_ID = oo.SALES_ORDER_ID
          LEFT JOIN om_sales_line_car oslc ON oslc.SALES_ORDER_ID = oo.SALES_ORDER_ID
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="orderNumber != null">
                AND oo.ORDER_NUMBER LIKE CONCAT('%', CONCAT(UPPER(#{orderNumber,jdbcType=VARCHAR}), '%'))
            </if>
            <if test="orderStatus != null">
                AND oo.ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null">
                AND oo.CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="shippingDateFrom != null">
                AND oo.SHIPPING_DATE &gt;= #{shippingDateFrom,jdbcType=TIMESTAMP}
            </if>
            <if test="shippingDateTo != null">
                AND oo.SHIPPING_DATE &lt;= #{shippingDateTo,jdbcType=TIMESTAMP}
            </if>
            <if test="customerId != null">
                AND oo.CUSTOMER_ID = #{customerId,jdbcType=DECIMAL}
            </if>
            <if test="customerName != null">
                AND cci.CUSTOMER_NAME LIKE CONCAT('%', CONCAT(UPPER(#{customerName,jdbcType=VARCHAR}), '%'))
            </if>
            <if test="receiver != null">
                AND cct.RECEIVER LIKE CONCAT('%', CONCAT(UPPER(#{receiver,jdbcType=VARCHAR}), '%'))
            </if>
            <if test="transactionNo != null">
                AND iii.TRANSACTION_NO LIKE CONCAT('%', CONCAT(UPPER(#{transactionNo,jdbcType=VARCHAR}), '%'))
            </if>
            <if test="tankNo != null">
                AND iii.TANK_NO LIKE CONCAT('%', CONCAT(UPPER(#{tankNo,jdbcType=VARCHAR}), '%'))
            </if>
            <if test="wayBillNo != null">
                AND iii.WAYBILL_NO LIKE CONCAT('%', CONCAT(UPPER(#{wayBillNo,jdbcType=VARCHAR}), '%'))
            </if>
            <if test="carFrontNo != null">
                AND oslc.CAR_FRONT_NO LIKE CONCAT('%', CONCAT(UPPER(#{carFrontNo,jdbcType=VARCHAR}), '%'))
            </if>
        </trim>
    </select>

    <select id="selectByOrderIdForUpdate" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
          FROM om_sales_order
         WHERE SALES_ORDER_ID = #{salesOrderId, jdbcType=DECIMAL}
        FOR UPDATE
    </select>

    <select id="queryOrderByParams" parameterType="com.xinda.om.order.dto.SalesOrder" resultMap="BaseResultMap" >
      SELECT <include refid="Base_Column_List" />
        FROM om_sales_order
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="salesOrderId != null" >
                AND SALES_ORDER_ID = #{salesOrderId,jdbcType=DECIMAL}
            </if>
            <if test="orderNumber != null">
                AND ORDER_NUMBER LIKE CONCAT('%', CONCAT(UPPER(#{orderNumber,jdbcType=VARCHAR}), '%'))
            </if>
            <if test="orderStatus != null">
                AND ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null">
                AND CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="shippingDate != null">
                AND SHIPPING_DATE = #{shippingDate,jdbcType=TIMESTAMP}
            </if>
            <if test="customerId != null">
                AND CUSTOMER_ID = #{customerId,jdbcType=DECIMAL}
            </if>
            <if test="customerTypeId != null">
                AND CUSTOMER_TYPE_ID = #{customerTypeId,jdbcType=DECIMAL}
            </if>
        </trim>
    </select>

</mapper>