<#include "../../head.html" />

<script src="${base.contextPath}/resources/js/car.js"  type="text/javascript" ></script>

<script type="text/javascript" >

    $(function () {
        var carQueryForm = window['carQueryForm'] = $("#carQueryForm").ligerForm({
            inputWidth: 170,
            labelWidth: 110,
            space: 20,
            fields : [{
                display: "车辆编号",
                name: "plateNo",
                newline: true,
                type: "combobox",
                group : '查询条件',
                options : {
                    valueField : 'plateNo',
                    textField : 'plateNo',
                    url : _basePath + '/car/getCarsByParams',
                    isMultiSelect : false,
                    isShowCheckBox : false,
                    highLight : true,
                    autocomplete : true,
                    triggerToLoad : true,
                    autocompleAllowEmpty : true
                },
            }],
            buttons : [ {
                text : '查询',
                width : 60,
                click : function() {
                    BaseCommonUI.formToGridQuery(carQueryForm, carGrid);
                }
            }]
        });

        var carGrid = window['carGrid'] = $("#carGrid").ligerGrid({
            title: '查询结果',
            width: '99%',
            height: '99%',
            rownumbers: true,
            usePager: true,
            checkbox: true,
            url : _basePath + '/car/queryCarsByParams',
            columns : [
                {
                    display: '车辆编号',
                    name: 'plateNo',
                    align: 'center',
                    width: 300,
                    render : function (rowData) {
                        // 跳转到创建页
                        return '<a href="javascript:jump_car_detail('+rowData.carId+');">'+rowData.plateNo+'</a>';
                    }
                }, {
                    display: '类型',
                    name: 'type',
                    align: 'center',
                    width: 300,
                    editor : {
                        type : 'select',
                        data : carTypeData,
                        valueField : 'value',
                        textField : 'text'
                    },
                    render : BaseCommonUI.gridSelectRender
                }, {
                    display: '油耗比',
                    name: 'fuelConsumptionRatio',
                    align: 'center',
                    width: 300
                }],

            toolbar : {
                items : [{
                    id : 'cm_car_add',
                <#if Session.userType != '0'>
                    disable : true,
                </#if>
                    text : '新建车辆',
                    click : function() {
                        // 跳转到创建页
                        window.parent.f_addTab("CAR_CREATE", '新建车辆',"${base.contextPath}/car/cm_car_create.html");
                    },
                    icon : 'add'
                },
                    { line: true },
                    {
                        id : 'cm_car_delete',
                    <#if Session.userType != '0'>
                        disable : true,
                    </#if>
                        text : '删除',
                        click : function() {
                            // 删除选择订单
                            delete_car(carGrid, _basePath+"/car/deleteCars");
                        },
                        icon : 'delete'
                    }]
            }
        })

    });

</script>

<body>

    <div>
        <form id="carQueryForm" ></form>

        <div id="carGrid" ></div>
    </div>

</body>