<#include "../../head.html" />

<script src="${base.contextPath}/resources/js/car.js"  type="text/javascript" ></script>
<style>
    .buttons {
        position: absolute;
        right: 0;
        margin: 10px;
        height: 35px;
    }

    .buttons div {
        float: left;
        margin-right: 5px;
    }
</style>
<script type="text/javascript" >

    $(function () {
        var carForm = window['carForm'] = $('#carForm').ligerForm({
            inputWidth: 170,
            labelWidth: 110,
            validate : true,
            space: 20,
            fields: [{
                name : 'carId',
                type : 'hidden'
            },{
                display: "车辆编号",
            <#if Session.userType != '0'>
                readonly : true,
            </#if>
                name: "plateNo",
                newline: true,
                type: "text",
                group : '车辆信息',
                validate: {
                    required: true
                }
            }, {
                display: "类型",
            <#if Session.userType != '0'>
                readonly : true,
            </#if>
                name: "type",
                newline: false,
                type: "select",
                options: {
                    data: carTypeData,
                    valueField: 'value',
                    textField: 'text',
                    onSelected : function (value, text) {
                        if ("CP" == value) {//车板
                            liger.get("fuelConsumptionRatio").setDisabled();
                            liger.get("fuelConsumptionRatio").setValue(0);
                        } else {
                            liger.get("fuelConsumptionRatio").setEnabled();
                        }
                    }
                },
                validate: {
                    required: true
                }
            }, {
                display: "油耗比",
            <#if Session.userType != '0'>
                readonly : true,
            </#if>
                name: "fuelConsumptionRatio",
                newline: false,
                type: "number",
                validate: {
                    required: true
                }
            }]
        });

        var carProjectGrid = window['carProjectGrid'] = $('#carProjectGrid').ligerGrid({
            title: '车辆项目信息',
            width: '99%',
            height : '98%',
            rownumbers: true,
            usePager: false,
            <#if Session.userType == '0'>
                enabledEdit: true,
            </#if>
            checkbox: true,
            columns: [{
                display: '项目',
                name: 'projectName',
                valueFiled: 'projectId',
                textField: 'projectName',
                align: 'center',
                width: 200,
                editor: {
                    type: 'text'
                }
            }, {
                display: '有效期从',
                name: 'validPeriodFrom',
                align: 'center',
                width: 150,
                type : 'date',
                editor: {
                    type: 'date'
                }
            }, {
                display: '有效期至',
                name: 'validPeriodTo',
                align: 'center',
                width: 150,
                type : 'date',
                format : 'yyyy-MM-dd',
                editor: {
                    type: 'date'
                }
            }, {
                display: '备注',
                name: 'remark',
                align: 'center',
                editor: {
                    type: 'text'
                }
            }],
            toolbar: {
                items: [{
                    id: 'cm_car_add',
                <#if Session.userType != '0'>
                    disable : true,
                </#if>
                    text: '新增',
                    click: function () {
                        carProjectGrid.addRow();
                    },
                    icon: 'add'
                },
                    {line: true},
                    {
                        id: 'cm_car_delete',
                    <#if Session.userType != '0'>
                        disable : true,
                    </#if>
                        text: '删除',
                        click: function () {
                            carProjectGrid.deleteSelectedRow();
                        },
                        icon: 'delete'
                    }]
            }
        });

        init_btns();

        <#if RequestParameters.carId ? exists >
            var parm = {'carId': ${RequestParameters.carId}};
            $.getJSON(_basePath + '/car/getCarDetails', parm, function (resData) {
                carForm.setData(resData);
                var obj = {};
                obj.lines = resData.carProjectDtoList;
                carProjectGrid.loadData(obj);
            })
        </#if>
        <#if Session.userType != '0'>
            $.ligerui.get("saveBtn").setDisabled(true);
        </#if>

    });

</script>

<body>

    <div style="margin-left: 10px">
        <form id="carForm" ></form>

        <div id="carProjectGrid" ></div>

        <div id="buttons" class="buttons">
            <div id="saveBtn"></div>
        </div>
    </div>

</body>